<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title> <%= title %> </title>
    
    <%- include('partials/head.ejs') %>

</head>
<body>
    <%- include('partials/navBar.ejs') %>

    <!-- section one -->
    <div class="container-fluid" id="about">
        <div class="row text-white p-5 text-center">
          <div class="col-sm-12">
            <p>
            <H3 class="w-auto animated bounceIn" >Si tienes un problema y no sabes a quién buscar, Ñor Oviedo te puede ayudar.</H3>
            </p>
          </div>
        </div>
      </div>

    <!-- FOOTER -->
    <%- include('partials/footer.ejs')%>
</body>
</html>